.dashboard
    position: absolute
    left: 0
    width: 150px
    height: 100%
    top: 0
    display: flex
    flex-direction: column
    background: #EEE
    .module
        text-align: center
        border-bottom: 1px solid gray
        width: 100%
        height: 75px

.content
    position: absolute;
    width: calc(100% - 150px);
    right: 0;
    height: 100%;
    top: 0;